body {
  background: #f5f0f5;
  text-align: center;
  font-family: 'Georgia', serif;
  padding-top: 100px;
}

/* CARTA */
#carta {
  background: white;
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: 0.5s;
}

#botonAbrir {
  padding: 10px 20px;
  font-size: 18px;
  background: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#botonAbrir:hover {
  background: hotpink;
}

#contenido {
  display: none;
  margin-top: 20px;
  font-size: 20px;
}

/* FOTOS */
img {
  width: 200px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
