body {
  margin: 0;
  background: radial-gradient(circle, #050013, #000);
  overflow: hidden;
  font-family: 'Courier New', cursive;
  color: white;
  text-align: center;
}

.titulo {
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0 0 10px pink;
  animation: aparecer 3s ease;
}

@keyframes aparecer {
  from {opacity:0; transform: translateY(-20px);}
  to {opacity:1;}
}

/* GALERIA */
.galeria {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.galeria img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 0 20px pink;
  transition: 0.3s;
}

.galeria img:hover {
  transform: scale(1.2);
}

/* TULIPANES */
.tulipanes {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.tulipan {
  position: relative;
  width: 40px;
  height: 120px;
}

.tulipan::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: purple;
  border-radius: 50% 50% 0 0;
  left: 5px;
  top: 0;
  box-shadow: 0 0 20px violet;
}

.tulipan::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 120px;
  background: green;
  left: 18px;
  top: 30px;
}

