body {
  margin: 0;
  background: radial-gradient(circle, #050013, #000);
  color: white;
  font-family: 'Courier New', cursive;
  text-align: center;
  overflow: hidden;
}

/* CARTA */
#carta {
  margin-top: 80px;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 0 30px purple;
}

/* BOTON */
button {
  padding: 10px 20px;
  font-size: 18px;
  background: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px violet;
}

button:hover {
  transform: scale(1.1);
}

/* CONTENIDO OCULTO */
#contenido {
  display: none;
}

/* FOTOS */
img {
  width: 150px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 0 20px pink;
}
